html,body,a,span,p,h1,h2,h3,h4,h5,h6,button,label{
    font-family: 'Open Sans','STXihei','Microsoft YaHei',sans-serif !important;
}
a{
    text-decoration: none;
}
.main-content{
    max-width:2560px;
    padding-bottom: 40px;
}
.mdl-card{
    width:auto;
}
.mdl-layout__drawer-button{
    background-color:rgba(255,255,255,0) !important;
}
.header-background-image{
    background-image: url('http://ww2.sinaimg.cn/large/a15b4afegw1f0op2xrl6uj21kw0qmq8y.jpg');
}
.live-shotcut{
    background-size: cover;
    background-position: center;
}
.user-name{
    color:white;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
.login-content{
    max-width: 600px;
    margin:0 auto;
    padding-top:24px;
}
.login-info,.login-submit{
    padding:16px 32px;
}
.submit-link{
    padding-left: 20px;
}
.login-image{
    float:right;
    padding:10px;
}
.login-input{
    width:85%;
    max-width:300px;
}
.danmaku-input{
    width:90%;
    margin-left: 5%;
}
.user-danmaku{
    font-size:16px;
    padding:5px;
}
.user-gravatar{
    border-radius: 100%;
    background-color: white;
    padding: 5px;
}
.live-info{
    min-height: 0;
}
.user-config{
    width:100%;
    border: 0;
}
.site-title{
    cursor: pointer;
}
.danmuarea{
    position: absolute;
    width: 100%;
    z-index: 10;
}
#player{
    position: absolute;
    width: 100%;
}
.danmaku{
    font-family: "SimHei" !important;
}
.cover{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}
.live-play{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    background-image: url("//vofile.b0.upaiyun.com/images/live.png");
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: all ease-out 250ms;
    -ms-transition: all ease-out 250ms;
    transition: all ease-out 250ms;
}
.cover:hover .live-overlay{
    opacity: .5;
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50)
}
.cover:hover .live-play{
    opacity: 1;
    visibility: visible;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.live-overlay{
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    background-color: #000;
    -webkit-transition: all ease-out 250ms;
    -ms-transition: all ease-out 250ms;
    transition: all ease-out 250ms;
}
.show-title{
    margin:5px;
    white-space:nowrap;
    overflow: hidden;
}